<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>zht</string>
		<key>algorithmName</key>
		<string>冒泡排序</string>
	</dict>
	<dict>
		<key>author</key>
		<string>yhj</string>
		<key>algorithmName</key>
		<string>选择排序</string>
	</dict>
	<dict>
		<key>author</key>
		<string>sfl</string>
		<key>algorithmName</key>
		<string>寻找下一个最大数</string>
	</dict>
	<dict>
		<key>author</key>
		<string>sfl</string>
		<key>algorithmName</key>
		<string>数字拆分</string>
	</dict>
	<dict>
		<key>author</key>
		<string>zht</string>
		<key>algorithmName</key>
		<string>选择排序</string>
	</dict>
	<dict>
		<key>author</key>
		<string>zht</string>
		<key>algorithmName</key>
		<string>插入排序</string>
	</dict>
	<dict>
		<key>author</key>
		<string>yhj</string>
		<key>algorithmName</key>
		<string>快速排序</string>
	</dict>
	<dict>
		<key>author</key>
		<string>yhj</string>
		<key>algorithmName</key>
		<string>基数排序</string>
	</dict>
	<dict>
		<key>author</key>
		<string>zht</string>
		<key>algorithmName</key>
		<string>字符串反转</string>
	</dict>
	<dict>
		<key>author</key>
		<string>yhj</string>
		<key>algorithmName</key>
		<string>堆排序</string>
	</dict>
</array>
</plist>
